{% extends "basea.html" %}
{% block title %}Library Loan System - Update User{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style1.css')}}">


<div class="container2">
    <div class="center-box2">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <h1 class="display-4">Update Password</h1>
        <form method="POST" action="">
            <div class="form-row">
                <div class="form-group">
                    {{ render_field(form.password, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.confirm, class="form-control") }}
                </div>
            </div>

            <div class="center-button" style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary btn-block"> Update Password </button>
            </div> <!-- form-group// -->
        </form>
    </div>
</div>

{% endblock %}
